#person-id-select.mb-4
  = f.input :person_id,
            wrapper: :horizontal_large,
            collection: [[f.object.person&.to_s, f.object.person&.id]],
            selected: f.object.person&.id,
            input_html: { \
              data: { controller: "slimselect-ajax",
                      options_url: directory.search_people_path(term: "REPLACEME", format: :json),
                      placeholder: "Start entering the person's name (min. 2 characters)" } \
            }
= f.input :description_id, collection: contact_descriptions
= f.input :other_description
= f.input :notes, as: :text, input_html: { rows: 2 }

// Disable `for` attribute, so it works when multiple contact form on the page
= f.input :default_cc, label_html: { for: nil }
