= within_new_admin_layout(title: "Code group <code>#{group.name}</code>".html_safe) do
  = render "form", group: group, url: pathology_code_group_path(group), draft_url: draft_pathology_code_group_path(group)

  - if group.persisted? && group.deletable?
    .mt-6
      = button_to "Delete code group",
                  pathology_code_group_path(group),
                  method: :delete,
                  class: "btn btn-danger",
                  data: { confirm: I18n.t("prompts.confirm_delete") }
