= within_new_admin_layout(title: "Code group <code>#{group.name}</code>".html_safe) do
  .mb-4
    = link_to t("btn.edit"), edit_pathology_code_group_path(group), class: "btn btn-primary"
    = link_to "Back", pathology_code_groups_path, class: "btn btn-secondary ml-2"

  dl.mb-4
    dt.font-bold Title
    dd= group.title
    dt.font-bold Description
    dd= group.description

  h3.text-lg.font-bold.mb-2 Preview
  = render "preview", group: group
