= within_admin_layout(title: "Edit",
                      breadcrumbs: breadcrumb_for("Clinical Studies",
                                   research_studies_path)) do

  = render "form",
           participation: participation,
           url: research_study_participation_path(participation.study, participation)
